.header{
    font-family: "Playfair Display"; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 350; 
    line-height: 80px;
    text-decoration: none; 
    color:black;
    text-align: center;
  
}
.header-small{
    font-family: "Playfair Display"; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 350; 
    line-height: 80px;
    text-decoration: none; 
    color:black;
    text-align: center;
    
}

.text{
    font-family: "Playfair Display"; 
    color:black;
    text-align: center;
    
}