.header{
    font-family: "Playfair Display"; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 350; 
    line-height: 80px;
    text-decoration: none; 
    color:black;
    text-align: center;
  
}
.header-small{
    font-family: 'Playfair Display', serif;
    font-size: 20px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 350; 
    line-height: 80px;
    text-decoration: none; 
    color:black;
    text-align: center;
    
}

.text{
    font-family: 'Playfair Display', serif;
    color:black;
    text-align: center;
    
}
.text-name{
    font-family: 'Playfair Display', serif;
    color:black;
    text-align: center;
    font-style: italic;
    
}

.navbar{
    background-color: #ddecbf;
}

.card{
    background-color: #ddecbf;
}
.container-fluid{
    background-color: #ddecbf;
}
.row{
    background-color: #ddecbf;
}
.col-md-6{
    background-color: #ddecbf;
}
.carousel{
    display: flex;
}
.jumbotron{
    background-color: #ddecbf;
}